.main-layout {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
}

.cards-container-layout {
  display: grid;
  --card-row-space: 20px;
  grid-template-rows: var(--card-row-space) auto var(--card-row-space) auto var(--card-row-space) auto var(--card-row-space);
}

.card-layout {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
}

.card-content-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.main-layout>*:not(.full) {
  grid-column: 2;
}

.main-layout>*.full {
  grid-column: 1 / -1;
}

.main-footer-layout {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  place-items: center;
}

.main-footer-layout .logo {
  grid-row: 2;
}

.main-footer-layout .footer-rights {
  grid-row: 3;
}

.main-footer-layout .footer-social {
  grid-row: 4;
  gap: 20px
}