.card{
    --text-margin-inline-end: 0px;
    --text-margin-block: 1lh;
}

.card , .grid-border-container{
    border-inline: 1px solid var(--color_primary_-06);
}

.card .card-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: lato-bold, sans-serif;
    letter-spacing: 1px;
    line-height: 1.07142857143;
    color: var(--color_primary_01);
    margin-inline-end: var(--text-margin-inline-end);
    margin-block-start: 0.5lh;
}

.card p{
    font-size: 0.875rem;
    margin-block: 0.5lh;
    margin-inline-end: var(--text-margin-inline-end);
}

.card .card-link{
    font-family: lato-bold,sans-serif;
    font-size: 0.75rem;
    color: var(--color_primary_-03);
    background-color: var(--color_secondary_base);
    border: 2px solid var(--color_primary_-02);
    border-radius: 20px;
    padding: 5px 16px; 
}

.card .card-link:hover{
    color: var(--color_secondary_01);
    border-color: var(--color_secondary_01);
    cursor: pointer;
}

.card .card-link .icon{
    display: none;
    margin-inline-start: 1em;
    color: var(--color_secondary_02)
}

.card .card-link:hover .icon{
    display: revert;
}