.main-header{
    position: sticky;
    top: 0;
    background-color: var(--color_secondary_02);
    box-shadow: inset 0px -4px 0px 0px var(--color_secondary_03);
    --main-header-height: 80px;
}

.main-header .main-header-content {
    height: var(--main-header-height);
    color: var(--color_secondary_base);
}

.main-header li:hover, .main-header .menu-button:hover{
    cursor: pointer;
}

.main-header .menu-button{
    background-color: rgb(240 230 140 / 0%);
    border: none;
    font-size: 2rem;
    color: white;
}