.page-nav-container {
    padding: 30px;
}

.page-nav-container li {
    font-family: lato-bold,sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color_primary_-01);
}

.page-nav-container li:hover {
    cursor: pointer;
}